/* Styling for How it Works component */
.how-it-works-container {
  position: relative;
  width: 300px;
  height: 520px;
  margin: auto;
  border: 10px #6a0dad solid;
  border-top-width: 40px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* Horizontal line on the top of the component */
.how-it-works-container:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* Screen (content) of the component */
.how-it-works-container .content {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  background: white;
  overflow: hidden;
}

/* Styling for step content */
.step-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.or-divider {
  margin: 0 10px;
}

/* Styling for menu button */
.menu-button {
  background-color: #6a0dad;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.menu-button .menu-link {
  text-decoration: none;
  color: white;
}

/* Styling for cart button */
.cart-button {
  background-color: #6a0dad;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.cart-button .cart-link {
  text-decoration: none;
  color: white;
}

.heading {
	text-align: center;
}