.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-text {
  font-size: 0.4em; /* Adjust the font size as needed */
  margin-top: 5px; /* Adjust the spacing between icon and text */
}

.active {
  /* background-color: white; */
  color: #6a0dad;
  /* border-radius: 20px; */
}
