.nav-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #fffdd0;
}

.navbar-brand {
  text-align: center;
  padding: 6px;
  color: black; /* Change color to your preference */
  text-decoration: none;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-text {
  font-size: 35%;
}

.active {
  background-color: white;
  color: #6a0dad;
  border-radius: 20px;
}
