.order-now-button {
  background-color: #6a0dad; /* Coral color, you can customize */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-top: 30vh;
  margin-bottom: 10vh;
  animation: shake 5s ease infinite;
  position: relative;
  left: 30vw;
}

.order-now-button:hover {
  /* background-color: #ff4500; Darker shade on hover, you can customize */
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.button-container {
  text-align: right;
  margin-top: 15vh;
  margin-right: auto;
  margin-left: auto;
}
