/* SearchBar.css */

.search-input {
  width: 80vw;
  margin: 0;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 1.5vh;
}

.search-item {
  display: flex;
  align-items: center;
  margin-left: 6vw;
  margin-bottom: 10px;
}

.item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.item-image {
  width: 50vw;
  height: 40vw;
  margin-right: 8px;
  border-radius: 20px;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.item-price {
  color: #6A0DAD;
  margin-bottom: 5px;
}

.item-description {
  margin: 0;
  font-size: 14px;
}

.favorite-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.favorite-icon {
  color: #6a0dad;
}

.favorite-icon-fill{
color:#bb806b;
}


.favorite {
  color: #bb860b;
}


.typing {
  margin-bottom: '5vh'
}









/* Searchbar.css */



label {
  width: 100%;
  max-width: 300px;
  position: relative;
}

.inputa {
  width: 100%;
  display: flex;
  padding: 15px;
  background-color: white;
  border: 2px solid #bb860b;
  color: #111;
  font-size: 15px;
  box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px #6a0dad;
  height: 58px;
  transform: skew(-3deg, 1deg);
  font-family: 'Knewave', cursive;
  letter-spacing: 2px;
  outline: none;
}

