.testimonial-carousel-container {
  width: 50vw;
  margin: auto;
  background-color: #FFFDD0;
  border-radius: 25px;
}

.testimonial-item {
  text-align: center;
  padding: 20px;
}

.quote {
  font-style: italic;
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
}
